################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
# Ignore all bin and obj folders
**/bin/
**/obj/
# Ignore other files that are generated during builds
*.dll
*.exe
*.pdb