<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EasySaveWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EasySaveWPF.Properties.Settings>
            <setting name="LogType" serializeAs="String">
                <value>xml</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>fr-FR</value>
            </setting>
            <setting name="onBoardingScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="masterProcess" serializeAs="String">
                <value />
            </setting>
            <setting name="onTopExt" serializeAs="String">
                <value />
            </setting>
            <setting name="fileSize" serializeAs="String">
                <value>0</value>
            </setting>
        </EasySaveWPF.Properties.Settings>
    </userSettings>
</configuration>